{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="container w-75">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Designation</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for category in categories %}
          <tr>
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.designation }}</td>
            <td>
                <a href="{{ path('app_category_remove', { 'id':category.id }) }}"><i class="bi bi-trash"></i></a>
                <a href="{{ path('app_category_update', { 'id':category.id }) }}"><i class="bi bi-pencil"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
